html, body {margin:0; height: 100%;}

#rainyday-image {
	max-width: 100%;
	position: relative;	
}

header {
	text-align: center;
}

h1 {
 	font-family: 'Barrio', cursive;
 	font-size: 75px;
 	color: #335965;
 	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
 				0px -5px 35px rgba(255,255,255,0.3);
 }

a {
	color: white;
}

ul {
	padding: 10px;
	background: rgba(33,97,140,0.4);
}

li {
	display: inline;
	font-size: 20px;
	padding: 0 30px 0 30px;
	font-family: 'Barrio', cursive;
}

.about {
	text-align: justify;
	margin: 20px;
	padding-right: 20%;
	padding-left: 20%;
}

p {
	font-family: 'Barlow', sans-serif;
}

a:hover {
	color: #ccf6ff;
	text-decoration: none;
}

img.resize {
  max-width:100%;
  max-height:100%;
}

.container {
	background-color: #f2fafc;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Barrio', cursive;
}

.info {
	text-align: center;
}

.row {
	text-align: justify;
	padding-top: 20px;
}

.price-info {
	text-align: center;
}

a.fa {
	font-size: 20px;
	margin-top: 10px;
	padding: 5px;
	width: 30px;
	text-decoration: none;
	border-radius: 50%;
	margin-bottom: 20px;
	color: white;
}

.nav-center {
	text-align: center;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #fb3958;
	color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #335965;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #618791;
}

.container {
    border-radius: 5px;
    background-color: #edf7fc; 
    padding: 20px;
}

h3 {
	text-align: center;
	font-size: 20px;
	font-family: 'Barrio', cursive;
}

.carousel {
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px 20px 20px 20px;
}

.carousel-caption {
	size: 50px;
}
